IOP/IOPCore/Configuration/IOPConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ILuffy.IOP.Configuration" elementFormDefault="qualified" targetNamespace="urn:ILuffy.IOP.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="iopConfigurationSection" type="tns:ILuffy.IOP.Configuration.IOPConfigurationSectionCT" />
	<xs:complexType name="ILuffy.IOP.Configuration.IOPConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="logger" type="tns:ILuffy.IOP.Configuration.LoggerConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The Logger.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ILuffy.IOP.Configuration.LoggerConfigurationElementCT">
		<xs:attribute name="flushInterval" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The FlushInterval.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxLoggers" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxLoggers.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isMultipleThreadEnabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsMultipleThreadEnabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
